build/
.vs/
*.png
*.zip
.vs/CMake Overview
.vs/CMakeWorkspaceSettings.json
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/cmake.db
.vs/slnx.sqlite
.vs/D3D12HelloTriangle/v17
.vs/D3D12HelloTriangle/v17
.vs/D3D12HelloTriangle/v17/*